.vs/
/movieRatingSystem/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.vs/movieRatingSystem/FileContentIndex/4b64d79f-f8a4-4412-80e8-4d11ab45ed6b.vsidx
/.vs/movieRatingSystem/FileContentIndex/9305a1a3-470a-4a46-8ea2-e366a4a9f9b0.vsidx
/movieRatingSystem/obj/Debug/net8.0-windows/apphost.exe
/.vs/movieRatingSystem/FileContentIndex/f8fa21b2-31c9-4373-99be-3ca1f58a11a9.vsidx
/.vs/movieRatingSystem/FileContentIndex/f76abe7b-63b8-4529-830d-90900adcffd0.vsidx
/movieRatingSystem/UI/MainForm.Designer.cs
/movieRatingSystem/UI/MainForm.resx
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.AssemblyInfo.cs
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.AssemblyInfoInputs.cache
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.assets.cache
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.csproj.AssemblyReference.cache
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.csproj.CoreCompileInputs.cache
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.csproj.FileListAbsolute.txt
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.csproj.GenerateResource.cache
/movieRatingSystem/obj/movieRatingSystem.csproj.nuget.dgspec.json
/movieRatingSystem/obj/movieRatingSystem.csproj.nuget.g.props
/movieRatingSystem/obj/movieRatingSystem.csproj.nuget.g.targets
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.designer.deps.json
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.designer.runtimeconfig.json
/movieRatingSystem/obj/Debug/net8.0-windows/ref/movieRatingSystem.dll
/movieRatingSystem/obj/Debug/net8.0-windows/refint/movieRatingSystem.dll
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.dll
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.GeneratedMSBuildEditorConfig.editorconfig
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.genruntimeconfig.cache
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.GlobalUsings.g.cs
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.LoginForm.resources
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.pdb
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.sourcelink.json
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.test.resources
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.UI.MainForm.resources
/movieRatingSystem/obj/Debug/net8.0-windows/movieRatingSystem.UI.RegisterForm.resources
/movieRatingSystem/obj/project.assets.json
/movieRatingSystem/obj/project.nuget.cache
/movieRatingSystem/obj/project.packagespec.json
/movieRatingSystem/obj/rider.project.model.nuget.info
/movieRatingSystem/obj/rider.project.restore.info
